<h1 class="text-center">Todo App</h1>

<div class="container p-3">
  <div class="row justify-content-md-center">

    <div class="col col-md-4">
      <form class="mb-5 row row-cols-lg-12 g-3 align-items-center">
        <div class="col-lg-6">
          <input type="text" class="form-control">

        </div>
        <div class="col-lg-6">
          <button class="btn btn-primary w-100">Add Task</button>

        </div>

      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
